:root {
    --primary-color: #27272E;
    --font-inter: 'Inter', sans-serif;
}

/* Typography */
body {
    font-family: 'Hind Siliguri', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: #2d3342;
    letter-spacing: -.025em;
    font-family: 'Hind Siliguri', sans-serif;
}

p {
    font-family: 'Bangla', sans-serif;
    color: rgba(38,38,38,var(--tw-text-opacity));
    font-size: 20px;
    line-height: 28px;
    color: rgb(43, 43, 43);
}
input:focus {
    outline: none;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

.font-inter {
    font-family: var(--font-inter);
}
.fs-sm {
    font-size: 14px;
}
.fs-md {
    font-size: 16px;
}
.fs-72 {
    font-size: 72px;
    line-height: 80px;
}
.fs-48 {
    font-size: 48px;
    line-height: 60px;
}
.w-full {
    width: 100%;
}
.w-max {
    width: max-content;
}


/* Layout Design */

.bg-hero {
    height: 500px;
    background-color: var(--primary-color);
    background-image: url('../img/bg10.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar-bg {
    background-color: rgba(0, 0, 0, .3);
}
.header-content {
    height: 400px;
}

.technology__icon svg {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
}

.technology__icon:first-child {
    margin-left: 0 !important;
}

/* Course Grid */
.course__grid_item {
    background-color: #f3f3f3;
}
.course__grid_title:hover {
    text-decoration: underline;
}

.cta__wrapper {
    background-color: #3a3748;
    background-image: url('../img/bg13.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cta__h {
    height: 200px;
}

/* Contributors */
.contributors__avatar_item {
    height: 400px;
}
.contributors_avatar {
    width: 120px;
}

.social__icons a i {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--bg-hero);
    border-radius: 100%;
}

/* Footer */
.footer__wrapper {
    background-color: var(--primary-color);
}

.footer.social__icons a i {
    color: rgba(255,255,255,.25);
    margin-right: 7px;
    text-align: center;
    background-color: transparent;
    border-radius: 100%;
    font-size: 25px;
    transition: .3s;
}
.footer.social__icons a:hover i {
    color: #f3f3f3
}
.footer-line {
    background-color: transparent;
    background-image: linear-gradient(90deg,rgba(206,211,246,0) 0,#CED3F6 38%,#CED3F6 64%,rgba(206,211,246,0) 99%);
    opacity: .3;
}