:root {
    --primary-color: #27272E;
    --font-inter: 'Inter', sans-serif;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: #2d3342;
    letter-spacing: -.025em;
    font-family: 'Hind Siliguri', sans-serif;
}
h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #edf2f7;
    padding-bottom: 5px;
}

h6 {
    border-bottom: 1px solid #edf2f7;
    padding-bottom: 5px;
}

p {
    font-family: 'Bangla', sans-serif;
    color: rgba(38,38,38,var(--tw-text-opacity));
    font-size: 20px;
    line-height: 28px;
    color: rgb(43, 43, 43);
}
input:focus {
    outline: none;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

/* Typography */
.font-inter {
    font-family: var(--font-inter);
}
.fs-72 {
    font-size: 72px;
    line-height: 80px;
}
.fs-48 {
    font-size: 48px;
    line-height: 60px;
}
.w-70 {
    width: 70px;
}
.h-400 {
    height: 400px;
}
.h-290 {
    height: 290px;
}
.hero-h {
    height: 93.1vh;
}
.text-sm {
    font-size: 14px;
}
.text-md {
    font-size: 16px;
}
.btn-check:focus + .btn, .btn:focus {
	box-shadow: none;
}
.w-max {
    width: max-content;
}
.w-full {
    width: 100%;
}
.mx-auto {
    margin: auto;
}
.bg-primary {
    background: var(--primary-color) !important;
}
.bg-light {
    background: #F3F1F5;
}
.bg-dark {
    background-color: var(--primary-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Styles */
.header-wrap {
    gap: 20px;
}
aside.sticky-top {
    top: 70px;
}
.social a i {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 100%;
}
.main-navbar {
    z-index: 9999;
}
#main-nav .navbar-nav .nav-item {
    padding-top: 0;
    padding-bottom: 0;
}

.search-bar input {
    right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.search-input:focus {
    outline: none;
}
.search-input-btn {
    right: 5px;
    top: 3px;
}
.hero {
    height: 93.1vh;
    background: url('../img/bg10.png');
    background-repeat: no-repeat;
    background-size: cover;
}









.topic-wrapper:hover {
    overflow-y: scroll;
}

.topics li a {
    color: #000;
    transition: .2s;
}

.topics li a:hover,
.topics li a.active {
    color: var(--primary-color);
    border-left: 5px solid var(--primary-color);
}
.topics li a:hover,
.topics li a.active {
    color: var(--primary-color);
    border-left: 5px solid var(--primary-color);
}
#site-footer hr, .hero hr {
	background-color: transparent;
	background-image: linear-gradient(90deg,rgba(206,211,246,0) 0,#CED3F6 38%,#CED3F6 64%,rgba(206,211,246,0) 99%);
	opacity: .3;
}

#site-footer .vertical-separator {
	display: block;
	width: 1px;
	height: 100%;
	background-color: transparent;
	background-image: linear-gradient(0deg,rgba(206,211,246,0) 0,#CED3F6 38%,#CED3F6 64%,rgba(206,211,246,0) 99%);
	opacity: .3;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.toc-wrapper li a {
    color: #000;
}
.navbar-light .navbar-toggler {
	border: none;
}
.navbar-toggler:focus {
	box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}